# 1. IDENTIDAD (ServiceAccount)
# Creamos un usuario específico para Jenkins dentro de K8s
apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins-admin
  namespace: jenkins

---
# 2. PERMISOS (RBAC)
# Le damos permisos de ADMINISTRADOR del cluster a esa cuenta.
# Necesario para que Jenkins pueda ejecutar 'helm install' en cualquier namespace.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: jenkins-admin-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: jenkins-admin
  namespace: jenkins

---
# 3. LA APLICACIÓN (Deployment)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      serviceAccountName: jenkins-admin # <--- VINCULAMOS LA CUENTA ADMIN
      
      # SEGURIDAD (Truco TFM)
      # Ejecutamos como root (0) y grupo root (0) para asegurar acceso al socket de Docker
      # que montaremos desde el host (la VM Ubuntu).
      securityContext:
        fsGroup: 0 
        runAsUser: 0
      
      containers:
      - name: jenkins
        image: jenkins/jenkins:lts
        ports:
        - containerPort: 8080
        - containerPort: 50000
        
        # VOLUMENES (Discos)
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
        - name: docker-socket         # <--- MONTAMOS EL SOCKET
          mountPath: /var/run/docker.sock
      
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-pvc
      - name: docker-socket           # <--- CONECTAMOS AL HOST
        hostPath:
          path: /var/run/docker.sock
          type: Socket

---
# 4. ACCESO DE RED (Service)
apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
  namespace: jenkins
spec:
  type: NodePort
  selector:
    app: jenkins
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30000      # Acceso web: http://IP-VM:30000
  - name: agent
    port: 50000
    targetPort: 50000