# Parámetros de configuración para el despliegue local de Spring PetClinic
# Nota: Para modo "strangler", el Ingress se gestiona externamente (strangler-ingress.yaml).

fullnameOverride: "petclinic-monolith"
replicaCount: 2

image:
  repository: "jolrojasbodev/spring-petclinic"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

# Desactivación de Ingress del chart para evitar conflictos (especialmente en modo strangler)
ingress:
  enabled: false

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "mysql"
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://mysql-db:3306/petclinic"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: username
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: password

readinessProbe:
  enabled: true
  path: /actuator/health/readiness
  port: 8080
  initialDelaySeconds: 45
  periodSeconds: 10

livenessProbe:
  enabled: true
  path: /actuator/health/liveness
  port: 8080
  initialDelaySeconds: 80
  periodSeconds: 15

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi
